In [1]:
import pandas as pd

In [59]:
url = 'https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/'

In [67]:
tables = pd.read_html(url)

In [81]:
df = tables[0]

In [82]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Annual,Percent Change,Percent Change
1,Year,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,Avg,Dec-Dec,Avg-Avg
2,1913,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0,9.9,–,–
3,1914,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1,10.0,1.0,1.0
4,1915,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3,10.1,2.0,1.0

In [83]:
new_header = df.iloc[1] #grab the first row for the header
df = df[2:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [85]:
df.set_index('Year',inplace=True)

In [86]:
df = df.drop(columns=['Avg', 'Dec-Dec','Avg-Avg'])

In [87]:
new_df = df.copy()

In [88]:
stacked = new_df.stack()
new_df = pd.DataFrame(stacked)

In [51]:
new_df.head()

In [90]:
['-01-01','-02-01','-03-01','-04-01','-05-01','-06-01','-07-01','-08-01','-09-01']

            0
Year 1
1913 Jan  9.8
     Feb  9.8
     Mar  9.8
     Apr  9.8
     May  9.7