In [1]:
# https://beta.bls.gov/dataViewer/view;jsessionid=CABC201CD643E5C31B56321479FD40D8

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# The path to our CSV file
CPIfile = "file.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(CPIfile)
df.head()

     Series ID  Year Period     Label    Value
0  CUUR0000SA0  2009    M01  2009 Jan  211.143
1  CUUR0000SA0  2009    M02  2009 Feb  212.193
2  CUUR0000SA0  2009    M03  2009 Mar  212.709
3  CUUR0000SA0  2009    M04  2009 Apr  213.240
4  CUUR0000SA0  2009    M05  2009 May  213.856

In [4]:
df['date'] = pd.date_range(start='1/1/2009', periods=len(df), freq='MS')

In [5]:
df.head()

     Series ID  Year Period     Label    Value       date
0  CUUR0000SA0  2009    M01  2009 Jan  211.143 2009-01-01
1  CUUR0000SA0  2009    M02  2009 Feb  212.193 2009-02-01
2  CUUR0000SA0  2009    M03  2009 Mar  212.709 2009-03-01
3  CUUR0000SA0  2009    M04  2009 Apr  213.240 2009-04-01
4  CUUR0000SA0  2009    M05  2009 May  213.856 2009-05-01

In [6]:
print(df.dtypes)

Series ID            object
Year                  int64
Period               object
Label                object
Value               float64
date         datetime64[ns]
dtype: object

In [7]:
df.rename(columns = {'date':'Date', 'Value':'CPI'}, inplace = True) 
df.head()

     Series ID  Year Period     Label      CPI       Date
0  CUUR0000SA0  2009    M01  2009 Jan  211.143 2009-01-01
1  CUUR0000SA0  2009    M02  2009 Feb  212.193 2009-02-01
2  CUUR0000SA0  2009    M03  2009 Mar  212.709 2009-03-01
3  CUUR0000SA0  2009    M04  2009 Apr  213.240 2009-04-01
4  CUUR0000SA0  2009    M05  2009 May  213.856 2009-05-01

In [8]:
CPI = df[['Date', 'CPI']].copy()
CPI.head()

        Date      CPI
0 2009-01-01  211.143
1 2009-02-01  212.193
2 2009-03-01  212.709
3 2009-04-01  213.240
4 2009-05-01  213.856

In [9]:
rds_connection_string = "postgres:Sherlocked1!@localhost:5432/CPI"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
CPI.to_sql(name='CPI', con=engine, if_exists='append', index=False)

In [12]:
pd.read_sql_query('select * from CPI', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "cpi" does not exist
LINE 1: select * from CPI
                      ^

[SQL: select * from CPI]
(Background on this error at: http://sqlalche.me/e/f405)